
        <div class="artikel">
          <h2>Chatbots im Marketing</h2>
          <div style="margin-right:0px; overflow:hidden;">
            Der Chatraum zum Artikel.<br />
            Sprechen Sie mit dem Author:<br />
            Andreas Sefzig, #Robogeddon
          </div>
          <div>
            <h3>Inhalte</h3>
            <li><button tabindex="2">Strategie</button></li>
            <li><button tabindex="3">Konzeption</button></li>
            <li><button tabindex="4">Kreation</button></li>
            <li><button tabindex="5">Material</button></li>
            <!-- Folgt: Tabindex fortführen... -->
          </div>
          <div>
          <div id="formular">
            <h3>Ihre Daten</h3>
            <li><input type="text" class="vorname"  tabindex="8"  id="vornameMenu"  value="" style="width:  84px;" /></li><script>wachsen("vornameMenu",   84);</script>
            <li><input type="text" class="nachname" tabindex="9"  id="nachnameMenu" value="" style="width:  96px;" /></li><script>wachsen("nachnameMenu",  96);</script>
            <li><input type="text" class="email"    tabindex="10" id="emailMenu"    value="" style="width: 100px;" /></li><script>wachsen("emailMenu",    100);</script>
            <br>
          </div>
          <div>
            <h3>Material</h3>
            <li>Empfehlen: <button>Kurzlink</button></li>
            <li>Der Artikel auf <button>Medium</button></li>
            <li>Meine <button>Highlights</button> auf Medium</li>
            <br>
          </div>
          <div>
            <h3>Funktionen</h3>
            <li><button>Bots-aus</button> und anschalten</li>
            <li><span class="nur_mobil">Als Web-App hinzufügen</span><span class="nicht_mobil">Den Chat <button>mobil</button> öffnen</span></li>
            <li><button>Menü</button> an- oder ausschalten</li>
            <li>Stil: <button data-stil=tag>Tag</button><button data-stil=nacht>Nacht</button><button data-stil=robogeddon>Robos</button><button data-stil=hacks>Hx</button></li>
          </div>
        </div>
        